<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Expense Manager</title>
    <link type="text/css" href= "index.css" rel="stylesheet"/>

</head>
<body>
<div align="center" style="margin-left: 55px;">
    <h1 style="padding-left: 325px;">These Are Your Expenses</h1>
    <br/><br/>
    <table class="table" style="margin-left: 325px;">
        <thead>
        <tr>
            <th>Expense</th>
            <th>Expense Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${listExpenses}">
            <td th:text="${expense.label}">Expense</td>
            <td th:text="${expense.expenseAmount}">Expense Amount</td>
            <td>
                <a th:href="@{'/editExpense/' + ${expense.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteExpense/' + ${expense.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>