<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link type="text/css" href= "index.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">

  <nav class="navbar" role="navigation" aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start" style="background-color:#eaeaea;">
        <a class="navbar-item" style="padding-left: 0px;" sec:authorize="isAuthenticated()">
          Home
        </a>


        <div  sec:authorize="isAuthenticated()" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Manage Budget
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/new_account">
              Add Account
            </a>
            <a class="navbar-item" href="/new_expense">
              Add Expenses
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" th:href="@{/accounts}">
              View Accounts
            </a>
            <a class="navbar-item" th:href="@{/expenses}">

              View Expenses
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end" style="background-color:#eaeaea;">
        <div class="navbar-item" style="left: 1050px;">
          <div class="buttons" >
            <a sec:authorize="isAnonymous()"class="button is-primary" th:href="@{/register}">
              <strong>Sign up</strong>
            </a>
            <a sec:authorize="isAnonymous()"class="button is-light" th:href="@{/login}">
              Log in
            </a>
            <a sec:authorize="isAuthenticated()"class="button is-light" th:href="@{/logout}" method="POST" type="submit">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</nav>
<tr th:object="${user}">
      <div>
          <div class="">
            <div class="userHome" style="padding-top: 20px;padding-left: 20px;margin-top: 20px;margin-right: 33px;">
              <h2>Hello, <b style="color: #64bd7c">[[${#request.userPrincipal.principal.fullName}]]</b></h2>
            </div>
          </div>

            <div class="userDetails" style=" margin-top: 15px;padding-right: 700px;padding-bottom: 450px;">
              <h2 style="padding-top: 15px; position: absolute;">Personal Details</h2>
                <div style="position: absolute; padding-top: 50px;">

                  <h3 style="padding-top: 15px;">E-mail:</h3>
                  <h3 style="padding-top: 15px;">First Name:</h3>
                  <h3 style="padding-top: 15px;">Last Name:</h3>
                  <h3 style="padding-top: 15px;">Active Accounts:</h3>
                  <h3 class="accountBalanceHeader">Active Accounts Balance:</h3>
                  <h3 style="margin-top: -25px;">Expenses:</h3>

                    <div class="userEmail">
                      <td th:text="${user.email}">E-mail</td>
                    </div>
                    <div class="userFirst">
                      <td th:text="${user.firstName}">First Name</td>
                    </div>
                    <div class="userLast">
                      <td th:text="${user.lastName}">Last Name</td>
                    </div>
                  <div class="accountSize">
                    <td th:text="${#lists.size(accounts)}">[Account Size]</td>
                  </div>
                  <div class="expenseSize">
                    <td th:text="${#lists.size(expenses)}">[Expense Size]</td>
                  </div>
                  <div class="accountBalance">
                    $<td th:text="${accountBalance}">Account Balances</td>
                  </div>
            </div>
            </div>

            <div class="userBalance" style="margin-top: 20px;margin-right: 33px;">
              <h2 style="padding-left: 30px;"> Overall Balance</h2>
              <div style="padding-left: 70px;">
                $<td th:text="${#numbers.formatDecimal(user.balance, 0, 'COMMA', 2, 'POINT')}">Balance</td>

<!--                <a style="position:absolute;top: 475px;left: 90px;" class="button is-success " th:href="@{/new_deposit}">Deposit</a>-->

              </div>

            </div>
      </div>
</tr>
</body>
</html>