<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budgeting</title>
    <link type="text/css" href= "index.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Balance
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Add Account
                    </a>
                    <a class="navbar-item">
                        Add Expenses
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        View Accounts
                    </a>
                    <a class="navbar-item">
                        View Expenses
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" th:href="@{/register}">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" th:href="@{/login}">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

    <h1 class="quote" > Experience a fresh way to</h1>
    <h1 class="quote2">manage money</h1>

    <img src=".../static/images/Vector-Banking-Transparent-Image.png" th:src="@{images/Vector-Banking-Transparent-Image.png}" width="50%" height="50%">

    <p class="info">The most basic budget apps typically connect with your financial accounts, track spending and categorize expenses so you can see where your money is going.

        This budget app is a local project from our local software developer. Manage your accounts, Manage your expenses. You'll never be broke again.</p>


    <p class="slogan"><i>A smarter way to save, a better way to save. Budgeting made easy</i></p>




</body>
</html>