<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budgeting</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1>Budgeting</h1>
    <h2>Project Description</h2>
    <p>Budgeting application in Spring that allows users to manage their budget on a monthly basis.</p>

    <h3>Features</h3>
    <ul>
        <li>Simple login / logout</li>
        <li>Users can add accounts</li>
        <li>Users can add expenses</li>
        <li>Users can view expenses</li>
        <li>com.example.demo.User will be able to see balance at all times - Display top right / displayed on Navbar</li>
        <li>com.example.demo.User will be able to delete / update accounts - such as removing an account / changing it</li>
    </ul>

    <h2>Plan & Expected Timeline</h2>
        <h3>Milestone 1 - [1 Day]</h3>
            <ul>
                <li>Get templates rendering on Spring | Upload to GitHub</li>
            </ul>
        <h3>Milestone 2 - [1 - 3 Days]</h3>
            <ul>
                <li>Get templates setup for displaying information</li>
                <li>Setup db</li>
                <li>Create controller to handle templates</li>
            </ul>
        <h3>Milestone 3 - [1 - 2 Days]</h3>
            <ul>
                <li>Create sign up page</li>
                <li>be able to login / logout</li>
                <li>research Spring security and implement change password</li>
            </ul>
        <h3>Milestone 4 - [Remaining days]</h3>
            <ul>
                <li>Remaining time work on primary features and clean up code & project</li>
            </ul>

</body>
</html>